body {
    background-image: url("alfons-morales-410757-unsplash2.jpg");
    background-size: cover;
}

.opacity {
    transition: 500ms;
    opacity: 0.85;
}

.opacity:hover {
    opacity: 1;
}

.bg-dark {
    transition: 500ms;
    background-color: rgba(63, 65, 66, 0.4) !important;
}

.bg-dark:hover {
    background-color: rgba(63, 65, 66, 0.5) !important;
}

.btn-warning {
    color: #ffffff !important;
    background-color: rgba(120, 52, 45, 0.9) !important;
    border-color: rgba(120, 52, 45, 0.9) !important;
}

.btn-warning:hover {
    color: #ffffff !important;
    background-color: rgba(120, 52, 45, 1) !important;
    border-color: rgba(120, 52, 45, 1) !important;
}