<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./addUserForm/css/styles.css">
    <title>AddUserForm</title>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/processForm}" th:object="${model}" th:method="${'post'}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" th:field="*{model[0].name}">
            </div>
            <div class="form-group col-md-6">
                <label for="surname">Surname</label>
                <input type="text" class="form-control" id="surname" placeholder="Surname" th:field="*{model[0].surname}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="street">Street</label>
                <input type="text" class="form-control" id="street" placeholder="Main St">
            </div>
            <div class="form-group col-md-2">
                <label for="streetNumber">Street Number</label>
                <input type="text" class="form-control" id="streetNumber" placeholder="1234">
            </div>
            <div class="form-group col-md-2">
                <label for="apartmentNumber">Apartment Number</label>
                <input type="text" class="form-control" id="apartmentNumber" placeholder="12">
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>
</body>
</html>