<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" href="./index/css/styles.css">
    <title>Home</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Library</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <div class="nav-item">
                <a class="nav-link text-light" th:href="@{/addUser}" href="#">Add User</a>
            </div>
            <div class="nav-item">
                <a class="nav-link text-light" th:href="@{/addBook}" href="#">Add Book</a>
            </div>
            <div class="nav-item">
                <a class="nav-link text-light" th:href="@{/borrowingBookForm}" href="#">Borrow/Return Book</a>
            </div>
            <div class="nav-item">
                <a class="nav-link disabled" href="#">Back</a>
            </div>
        </div>
    </div>
</nav>
<div class="container text-center pt-5">
    <div id="jumbo" class="jumbotron mt-5 rounded-circle">
        <h1 class="display-2">Welcome!</h1>
        <p class="lead">This is a simple library web application</p>
        <hr class="my-4">
        <p>Click the button below to learn more about this application, and explore it's features, or feel free to
            explore it on Your own</p>
        <a class="btn btn-warning btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>
</body>
</html>