<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search For A Book</title>
    <link rel="stylesheet" href="./searchForABook/css/styles.css">
    <link rel="stylesheet" href="./bootstrap4/css/bootstrap.min.css">
</head>
<body>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="./bootstrap4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./searchForABook/js/script.js"></script>
</body>
</html>